#home{
    display: flex;
    min-height: calc(100vh - 121.81px);
    gap: 12px;
}

#banner{
    display: flex;
    align-items: start;
    justify-content: end;
    width: 70%;
}

#banner img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

#cta {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
    text-align: center;
}

#cta .title{
    font-size: 4rem;
    color: #1d1d1d;
}

#cta .description {
    font-size: 1.2rem;
}

#cta_buttons{
    display: flex;
    justify-content: center;
    gap: 24px;
}

@media screen and (max-width:1170px){
    #home{
        min-height: 100%;
        padding-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #banner img{
        display: none;
    }

    #cta{
        width: 100%;
    }

    #cta_buttons{
        display: flex;
        justify-content: center;
        margin-bottom: 48px;
    }

    #cta .title{
        font-size: 2.5rem;
        text-align: center;
        align-items: center;
    }
}

@media screen and (min-width:768px) and (max-width:1170px){
    #banner{
        width: 100%;
    }
    
    #banner img{
        display: block;
    }
}